<%include top%>
	<div class="view">
		<a href="/articles" id="indexLink">back to index</a>
		<h1><%=article.title%></h1>
		<div id="articleBody">
			<p><%-article.body%></p>
			<% if (article.tags != '') {
				for (var i=0;i<article.tags.length;i++) { %>
				<% console.log(i) %>
				<a href="/articles/tags/<%=article.tags[i].id%>" class="tag"><%=article.tags[i].name%></a>
			<% }
			}; %>
		</div>
		<form method="get" action="/articles/<%=article.id%>/edit">
			<button type="submit" id="editButton" class="btn btn-default">edit post</button>
		</form>
		<form method="post" action="/articles/<%=article.id%>">
			<input type="hidden" name="_method" value="delete" /> <!--method override-->
			<button type="submit" id="deleteButton" class="btn-xs btn-default">delete this article</button>
		</form>
	</div><!--view-->
<%include bottom%>